* {
    padding: 0;
    margin: 0;
}

body,
html {
    background: #f0f3fa;
}

.width-100 {
    width: 100%;
    float: left;
}

.container {
    width: 100%;
    margin: 0px auto
}





.header-menu {
    position: relative;
    box-shadow: 0px 2px 5px 0px #00000036;
    background: #2D2727;
}

.logo {
    width: fit-content;
    float: left;
}

.main-menu {
    list-style: none;
    float: right;
    margin-top: 25px;
    margin-right: 10px;
}

.main-menu a {
    font-weight: 500;
    color: #d3cccc;
    font-size: 20px;
    text-decoration: none;
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    padding: 8px ;
}
.main-menu a:hover{
    text-decoration-line: underline;
    text-decoration-color: #C62828;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
   -webkit-text-fill-color: #ffffff;
}

.main-menu li {
    float: left;
    width: 150px;
    
}

.login-btn{
    font-weight: 500;
    color: #d3cccc;
    font-size: 20px;
    text-decoration: none;
    font-family: "proxima-nova", Helvetica, Arial, sans-serif;
    padding: 8px ;
    margin-top: -8px;
    background: transparent;
    border: none;
    cursor: pointer;
}

.login-btn:hover{
    text-decoration-line: underline;
    text-decoration-color: #C62828;
    text-decoration-style: solid;
    text-decoration-thickness: 3px;
   -webkit-text-fill-color: #ffffff;
}

.slider-width {
    width: 100%;
    height: 600px;
}

.margin-top-50 {
    margin-top: 30px;

}

.width-33 {
    width: 33%;
    float: left;
}

.latest-news {
    margin-left: 10px;
    margin-right: 10px;
    background: white;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
}

.heading-sect {
    width: 100%;
    float: left;
    border-bottom: 1px solid #cfcfcf;
    padding-bottom: 0px;
    margin: 0px;
    margin-bottom: 15px;
    border: 1px solid #cfcfcf;
    padding-top: 15px;
    padding-left: 5px;
    background: #2D2727;
    color: rgb(255, 255, 255);
}

.head-title {
    margin: 0px;
    padding: 0px;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 5px;
}

.latest-news-ul {
    padding: 0px;
    list-style: none;
    line-height: 40px;
}

.event-list{
    margin-left: 10px;
    margin-right: 10px;
    background: white;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;

}
 
.upcoming-event-list{
padding: 0px;
list-style: none;

}
.upcoming-event-list li{
    width: 100%;
    float: left;
    margin-bottom: 10px;
}
.event-date{
background: #2D2727;
width: 30px;
float: left;
text-align: center;
font-size: 14px;
color: white;
padding: 8px;
margin-right: 10px;
}

.notice-board{
    margin-left: 10px;
    margin-right: 10px;
    background: white;
    padding: 20px;
    height: 350px;
    margin-bottom: 30px;
}

.notice-board-list{
    padding: 0px;
    list-style: none;
    line-height: 40px;
}

.notice-board-list li{
   width: 100%;
   float: left;
   margin-bottom: 10px;
}


.footer{
    background:  #2D2727;
    padding: 50px 0px;

}

.width-25{
    width: 25%;
    float: left;
}

.quicklink-heading{
font-size: 18px;
font-weight: bold;
color: white;
margin-bottom: 10px;
}

.quicklink-menu{
list-style: none;
padding-left: 10px;

}

.quicklink-menu li a{
    color: white;
    line-height: 2.5;
    font-size: 15px;
    text-decoration: none;
}

.get-in-touch{
    list-style: none;
    padding-left: 10px;
}

.get-in-touch li{
color: #fff;
line-height: 2.5;
font-size: 15px;
}

.footer-website{
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}

.footer-email{
    font-size: 15px;
    font-weight: bold;
    color: white;
    text-decoration: none;
}



.bkimage {
    width: 100%;
    float: left;
    background-image: url(davnew.jpg);
    height: 600px;
    background-size: cover;
}

.popup-box{
    width: 200px;
    height: 100px;
    border: 2px solid black;
    z-index: 1;
    position: fixed;
    left: 48.5%;
    top: 48.5%;
    background: white; 
    animation: animate 0.6s;
}

@keyframes animate{
    from{transform: scale(0);}
    to{transform: scale(1);}
}  




.box-title{
    background: linear-gradient(to right,#2196f3, #00aed9);
    text-align: center;

}

.box-content{
    text-align: center;
   
}

.box-content h4{
   text-align: center;
   padding: 25px 2px;
   color: red;
   

}


.close_button {
    font-size: 15px;
    float: right;
    border: 0.5px solid black;
    font-weight: bold;
    padding: 2px 5px;
    cursor: pointer;
}


.close_button:hover {
    background: black;
    color: white;
}

.name {
    background: transparent;
    position: relative;
}
.box {
    width: 400px;
    height: 500px;
    position: relative;
    margin: 50px ;
    background: rgba(255, 255, 255, 0.5);
    padding: 5px;
    overflow: hidden;
    position: relative;
    float: right;
    display: none; 
    animation: animate 0.6s;
    border: 2px solid  #2D2727;
}

@keyframes animate{
    from{transform: scale(0);}
    to{transform: scale(1);}
}

.cross-button{
    border: none;
    font-size: 15px;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    font-weight: bold;
    animation: alternate 0.6;
}

@keyframes animate{
    from{transform: scale(0);}
    to{transform: scale(1);}
}

.cross-button:hover{
    box-shadow: 0 0 20px 5px #3a3a3a;
    background: black;
    color: white;
}

.btnbox {
    width: 300px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}


.toggle-btn {
    padding: 10px 18px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-weight: bold;
}

#btn {
    top: 0;
    left: 0;
    position: absolute;
    width: 100px;
    height: 100%;
    background:  #2D2727;
    border-radius: 30px;
    transition: .2s;
}

.social {
    margin: 10px;
    text-align: center;
    text-decoration: underline;
}

.social img {
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    background: transparent;
    border-radius: 50%;

}

.input-group {
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field {
    width: 100%;
    padding: 10px 0;
    margin: 25px;
    margin-left: 65px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #221919;
    outline: none;
    background: transparent;
}

.input-group ::placeholder{
    color: #362a2a;
    font-size: 14px;
}

.submit-btn {
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 30px 80px;
    background: #2D2727;
    color: white;
    border: 0;
    outline: none;
    border-radius: 30px;
}
.submit-btn:hover{
    box-shadow: 0 0 5px 5px #2D2727;
    color: white;
}

.parent-group {
    top: 170px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.parent-field{
    width: 100%;
    padding: 10px 0;
    margin: 30px;
    margin-left: 65px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 2px solid #221919;
    outline: none;
    background: transparent;
}

.parent-group ::placeholder{
    color: #362a2a;
    font-size: 14px;
}
.student-group{
    top: 160px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.student-field{
    width: 100%;
    padding: 10px 0;
    margin: 15px;
    margin-left: 65px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
#teacher {
    left: 0px;
}

#parent {
    left: -450px;
}

#student {
left: 450px;
}

.box2 {
    width: 400px;
    height: 560px;
    position: relative;
    margin: 10px ;
    background: rgba(255, 255, 255, 0.6);
    padding: 5px;
    overflow: hidden;
    position: relative;
    float: right;
    display: none; 
    animation: animate 0.6s;
    border: 2px solid  #2D2727;
}

@keyframes animate{
    from{transform: scale(0);}
    to{transform: scale(1);}
}

.subject_select{
    display: block; 
    width: 600px;
    margin-top: 10px;
}

.subject_options{
margin-left: 65px; 
width: 500px;
 display: flex; 
}
.options{
margin-left: 10px;
width: 150px;
height: 20px;
}
.err_message{
    margin-top: 10px;
    margin-left: 185px;
    background: rgba(255, 0, 0,0.1);
    border: 1px solid #EF9a9a;
    color:#C62828;
    text-align: center;
    width: 170px;
    border-radius: 3px;
    display: none;
}


.btnbox2{
    width: 300px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 9px #ff61241f;
    border-radius: 30px;
}


.toggle-btn2 {
    padding: 10px 18px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
    font-weight: bold;
}

#btn2 {
    top: 0;
    left: 0;
    position: absolute;
    width: 100px;
    height: 100%;
    background:  #2D2727;
    border-radius: 30px;
    transition: .2s;
}

.social2{
    margin: 10px;
    text-align: center;
}

.social2 img {
    width: 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    background: transparent;
    border-radius: 50%;

}

.input-group2 {
    top: 160px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.input-group2 ::placeholder{
     color: #362a2a;
    font-size: 14px;
}
.input-field2 {
    width: 100%;
    padding: 10px 0;
    margin: 15px;
    margin-left: 65px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn2 {
    width: 85%;
    font-size: 15px;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: 20px 80px;
    background: #221919;
    border: 0;
    color: white;
    outline: none;
    border-radius: 30px;
}

.submit-btn2:hover{
box-shadow: 0 0 5px 5px #2D2727;
color: white;
}

.parent-group2 {
    top: 160px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.parent-group2 ::placeholder{
    color: #362a2a;
    font-size: 14px;
}
.parent-field2{
    width: 100%;
    padding: 10px 0;
    margin: 20px;
    margin-left: 65px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.student-group2{
    top: 160px;
    position: absolute;
    width: 280px;
    transition: .5s;
}
.student-group2 ::placeholder{
    color: #362a2a;
    font-size: 14px;
}
.student-field2{
    width: 100%;
    padding: 10px 0;
    margin: 15px;
    margin-left: 65px;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}
#teacher2 {
    left: 0px;
}

#parent2 {
    left: -450px;
}

#student2 {
left: 450px;
}








